//-  assets
- var pathToAssets 		= "assets"



//- ad more option for language
- var language 			= "en"

- var fBpageLink 			= "https://www.facebook.com/alifantro"
- var instagramLink 		= "https://instagram.com/calinalefter/"
- var thumblrLink 			= "http://calinalefter.tumblr.com/"
- var pinterestLink 		= "https://it.pinterest.com/calinalefter/"
- var twitterLink 			= "https://twitter.com/moondiary"
- var copyRight 			= "Copyright (c) 2015 "

if language == "en"
	include ../config/en.jade



